<div class="app">
  <span>{{ title }}</span>

  <!-- property binding - one way data binding -->
  <h1>property binding</h1>
  <div>
    <h1 [innerHTML] = "title"></h1>
    <img [src]="logo">
    <input type="text" [value]="name">
  </div>

  <!-- event binding - one way data binding -->
  <h1>event binding</h1>
  <div>
    <input 
      type="text"
      [value]="name"
      (input)="handleInput($event)"
      (blur)="handleBlur($event)">
    <button (click)="handleClick()">Change name</button>
  </div>

  <!-- two ways data binding -->
  <h1>two ways data binding</h1>
  <div>
    <input 
      type="text"
      [ngModel]="name"
      (ngModelChange)="handleChange($event)">
    
    <div>
      <input 
        type="text"
        [(ngModel)]="name">
  </div>

  <!-- template ref -->
  <h1>template ref</h1>
  <div>
    <input type="text" #username>
    <button (click)="handleClickWithRef(username.value)">Username</button>
  </div>

  <h1>{{name}}</h1>

  <!-- ngIf -->
  <h1>NgIf</h1>
  <input 
    type="text" 
    [value]="name" 
    (input)="handleChange2($event)">
  
  <div *ngIf="name.length > 2">
    Searching for ... {{ name }}
  </div>

  <!-- web component -->
  <!-- <template [ngIf]="name.length > 2">
    <div>
      Searching for ... {{ name }}
    </div>
  </template> -->

<passenger-dashboard></passenger-dashboard>

<router-outlet></router-outlet>
